<div class="wallpaper" [ngStyle]="{ 'background-color': color }">
  <div
    class="wallpaper-segment"
    [ngClass]="{
      'wallpaper-segment-show': transition,
      'wallpaper-segment-hide': hideTransition
    }"
    [ngStyle]="{ 'background-color': nextColor }"
  ></div>
  <div class="color-button-container">
    <div
      [ngStyle]="{
        'background-color': nextColor,
        right: transition ? '-20rem' : '1rem'
      }"
      class="color-button"
      (click)="showTransition()"
    ></div>
  </div>
</div>
